@import "../../style/variables.scss";
#map {
  min-height: 100vh;
}

.contentContainer {
  padding: 2rem;
  margin: 3rem;

  .contentText {
    font-size: 2.2rem;
  }
}
.map {
  height: 100%;
  width: 90%;
  margin: 0 auto;
  border-radius: 2px;
}
.contentImage {
  min-height: 40rem;
  width: 100%;
  background-image: url("../../assets/img.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
