@import '../../style/variables.scss';

section.solutions {
  
  h2 {
    // font-size: 40pt;
    font-weight: 900;
    text-shadow: 1px 1px 3px lightcyan;
  }

  .info-img {
    // border: 1px solid black;
    // background-image: url('https://i.ytimg.com/vi/PBtgQU8Gvqk/maxresdefault.jpg');
    // background-size: cover;
    // background-position: center;

  }

  .text {
    line-height: inherit;
    font-size: calc(.5rem + 1.8vw);
  }
}

