@import '../../style/variables.scss';

section.solutions {
  max-width: 1440px;
  
  h2 {
    // font-size: 40pt;
    // text-shadow: 0px 1px 3px lightcyan;
  }

  .info-img {
    // border: 1px solid black;
    // background-image: url('https://i.ytimg.com/vi/PBtgQU8Gvqk/maxresdefault.jpg');
    // background-size: cover;
    // background-position: center;

  }

  .text {
    line-height: inherit;
    font-size: min(3.5rem, calc(.7rem + 1.5vw));
    padding-left: 2vw;
    padding-right: 2vw;
  }

  .bg-odd {
    background: linear-gradient(to bottom, $primary-bg, #b7c097, $primary-bg);
  }
}

